/*
  BLEUPRINT.scss

    Crafted with <3 by John Otander(@4lpine).
    MIT Licensed
 */

@import "basscss"; // http://jxnblk.github.io/basscss
@import "node_modules/colors.css/sass/colors";

html, body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100%;
}

.w100 {
  width: 100%;
}

.h100 {
  min-height: 100%;
}

.table {
  display: table;
}

.table-cell {
  display: table-cell;
}

.va-middle {
  vertical-align: middle;
}

.text-center {
  text-align: center;
}

.bg-light-gray {
  background-color: #fafafa;
}
